.header_custom table thead > tr > th {
    background-color: #4C8CE4 !important;
    color: #fff !important;
    text-align-all: center !important;
}
.header_custom table thead > tr > th:nth-child(2) {
    width: 250px !important;
}